<template>
  <div>
    <!-- <div class="row">
      <div class="overflow-y ml-4 col-3">
        <div
        v-for="(tweet, tweetIndex) in tweets_list"
        :key="tweetIndex"
        class="rounded-corner mb-1"
        >
        <div class="row col-12">
          <div class="col-4">
            <img :src="tweet.profile_image_url_https">
          </div>
          <div class="col-8">
            
            <div class="text-bold text-left ">
              
              {{ tweet.tweet_user_full_name }}</div>
            </div>
          </div>
          
          <div class="text-left overflow-x col-12">{{ tweet.tweet_text }}</div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="row">
        <div class="col-10">
          <h3 class="text-center">Twitter Help Desk</h3>
        </div>
        <div class="col-2 text-right">
          <button @click.prevent.stop="logout" class="logout-button">
            Logout
          </button>
        </div>
      </div>

      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="heading_search">
              <div class="recent_heading">
                <h4>Conversations</h4>
              </div>
              <!-- <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
                </div> -->
            </div>
            <div class="inbox_chat">
              <div
                @click="selected_tweet = tweet"
                v-for="(tweet, tweetIndex) in tweets_list"
                :key="tweetIndex"
                class="chat_list"
                :class="
                  selected_tweet && selected_tweet.tweet_id == tweet.tweet_id
                    ? 'active_chat'
                    : ''
                "
              >
                <div class="chat_people">
                  <div class="chat_img">
                    <img :src="tweet.profile_image_url_https" />
                  </div>
                  <div class="chat_ib">
                    <h5>
                      <div class="text-left">
                        {{ tweet.tweet_user_full_name }}
                      </div>
                    </h5>
                    <p class="text-left">{{ tweet.tweet_text }}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions 
                      astrology under one roof.</p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                      <p>Test, which is a new approach to have all solutions 
                        astrology under one roof.</p>
                      </div>
                    </div>
                  </div>
                  <div class="chat_list">
                    <div class="chat_people">
                      <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="chat_ib">
                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                        <p>Test, which is a new approach to have all solutions 
                          astrology under one roof.</p>
                        </div>
                      </div>
                    </div>
                    <div class="chat_list">
                      <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                          <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                          <p>Test, which is a new approach to have all solutions 
                            astrology under one roof.</p>
                          </div>
                        </div>
                      </div>
                      <div class="chat_list">
                        <div class="chat_people">
                          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                          <div class="chat_ib">
                            <h5><div class="text-left">Sunil Rajput</div> <span class="chat_date">Dec 25</span></h5>
                            <p class="text-left">Test, which is a new approach to have all solutions 
                              astrology under one roof.</p>
                            </div>
                          </div>
                        </div>
                        <div class="chat_list">
                          <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                              <p>Test, which is a new approach to have all solutions 
                                astrology under one roof.</p>
                              </div>
                            </div>
                          </div> -->
            </div>
          </div>
          <div v-if="selected_tweet" class="mesgs">
            <div class="d-flex">
              <div style="width: 70%">
                <div class="msg_history">
                  <div class="incoming_msg">
                    <div class="incoming_msg_img">
                      <img :src="selected_tweet.profile_image_url_https" />
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>{{ selected_tweet.tweet_text }}</p>
                        <span class="time_date">{{
                          tweet_date_time(selected_tweet.created_at)
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div
                    v-if="
                      selected_tweet.replies &&
                      selected_tweet.replies.length > 0
                    "
                  >
                    <div
                      v-for="(replies, replyKey) in selected_tweet.replies"
                      :key="replyKey"
                      class="incoming_msg"
                    >
                      <div class="incoming_msg_img">
                        <img :src="replies.profile_image_url_https" />
                      </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>{{ replies.tweet_text }}</p>
                          <span class="time_date">{{
                            tweet_date_time(replies.created_at)
                          }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="outgoing_msg">
                                <div class="sent_msg">
                                  <p>Test which is a new approach to have all
                                    solutions</p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                                  </div>
                                  <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                      <div class="received_withd_msg">
                                        <p>Test, which is a new approach to have</p>
                                        <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                      </div>
                                    </div>
                                    <div class="outgoing_msg">
                                      <div class="sent_msg">
                                        <p>Apollo University, Delhi, India Test</p>
                                        <span class="time_date"> 11:01 AM    |    Today</span> </div>
                                      </div>
                                      <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                        <div class="received_msg">
                                          <div class="received_withd_msg">
                                            <p>We work directly with our designers and suppliers,
                                              and sell direct to you, which means quality, exclusive
                                              products, at a price anyone can afford.</p>
                                              <span class="time_date"> 11:01 AM    |    Today</span></div>
                                            </div>
                                          </div> -->
                </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input
                      v-model="tweet_reply_text"
                      type="text"
                      class="write_msg"
                      placeholder="Type a message"
                    />
                    <button
                      @click="replyTweet"
                      class="msg_send_btn"
                      type="button"
                    >
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div style="width: 30%">
                <div class="card">
                  <img
                    :src="selected_tweet.profile_image_url_https"
                    class="profile-img mb-4 mt-4"
                    :alt="selected_tweet.tweet_user_full_name"
                  />
                  <h6 class="text-bold">
                    {{ selected_tweet.tweet_user_full_name }}
                  </h6>
                  <!-- <p class="title">CEO & Founder, Example</p> -->
                  <p>{{ selected_tweet.tweet_user_location }}</p>
                  <div class="ml-2 mr-2">
                    {{ selected_tweet.tweet_user_description }}
                  </div>
                  <!-- <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
                  <p><button>Contact</button></p> -->
                </div>
              </div>
            </div>
          </div>
          <div v-else style="margin-top: 300px" class="text-center">
            Select Tweet to expand
          </div>
        </div>

        <!-- <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p> -->
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "../apiServices/UserService";
import moment from "moment";
import io from "socket.io-client";
import { BASEURL } from "@/config";

export default {
  data() {
    return {
      BASEURL,
      tweets_list: [],
      socket: null,
      selected_tweet: null,
      tweet_reply_text: null,
    };
  },
  // sockets: {
  //   connect() {
  //     // Fired when the socket connects.
  //     // this.isConnected = true;
  //     console.log("connected! :>> ");
  //   },

  //   disconnect() {
  //     // this.isConnected = false;
  //     console.log("disconnected! :>> ");
  //   },

  //   // Fired when the server sends something on the "messageChannel" channel.
  //   sendTweet(tweet) {
  //     console.log("inside send tweet :>> ");
  //     console.log("tweet :>> ", tweet);
  //     this.tweets_list.splice(0, 0, {
  //       tweet_id: tweet.id,
  //       tweet_id_str: tweet.id_str,
  //       tweet_text: tweet.text,
  //       tweet_user_id: tweet.user.id,
  //       tweet_user_id_str: tweet.user.id_str,
  //       tweet_user_name: tweet.user.screen_name,
  //       tweet_user_full_name: tweet.user.name,
  //       tweet_user_description: tweet.description,
  //       tweet_user_location: tweet.user.location,
  //       profile_image_url: tweet.user.profile_image_url,
  //       profile_image_url_https: tweet.user.profile_image_url_https,
  //       in_reply_to_status_id: tweet.in_reply_to_status_id,
  //       in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
  //       in_reply_to_user_id: tweet.in_reply_to_user_id,
  //       in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
  //       in_reply_to_screen_name: tweet.in_reply_to_screen_name,
  //       retweeted: tweet.retweeted ? "Y" : "N",
  //       reply_count: tweet.reply_count,
  //       retweet_count: tweet.retweet_count,
  //       tweet_timestamp: tweet.timestamp_ms,
  //     });
  //     this.$forceUpdate();
  //     console.log("this.tweets_list :>> ", this.tweets_list);
  //   },
  //   sendTweetReply(tweet) {
  //     this.tweets_list.map((x) => {
  //       if (x.tweet_id_str == tweet.main_tweet_id_str) {
  //         x.replies && x.replies.length > 0
  //           ? x.replies.push({
  //               tweet_id: tweet.id,
  //               tweet_id_str: tweet.id_str,
  //               tweet_text: tweet.text,
  //               tweet_user_id: tweet.user.id,
  //               tweet_user_id_str: tweet.user.id_str,
  //               tweet_user_name: tweet.user.screen_name,
  //               tweet_user_full_name: tweet.user.name,
  //               tweet_user_description: tweet.description,
  //               tweet_user_location: tweet.user.location,
  //               profile_image_url: tweet.user.profile_image_url,
  //               profile_image_url_https: tweet.user.profile_image_url_https,
  //               in_reply_to_status_id: tweet.in_reply_to_status_id,
  //               in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
  //               in_reply_to_user_id: tweet.in_reply_to_user_id,
  //               in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
  //               in_reply_to_screen_name: tweet.in_reply_to_screen_name,
  //               retweeted: tweet.retweeted ? "Y" : "N",
  //               reply_count: tweet.reply_count,
  //               retweet_count: tweet.retweet_count,
  //               tweet_timestamp: tweet.timestamp_ms,
  //               main_tweet_id_str: tweet.main_tweet_id_str,
  //               main_tweet_id: tweet.main_tweet_id,
  //             })
  //           : (x["replies"] = [
  //               {
  //                 tweet_id: tweet.id,
  //                 tweet_id_str: tweet.id_str,
  //                 tweet_text: tweet.text,
  //                 tweet_user_id: tweet.user.id,
  //                 tweet_user_id_str: tweet.user.id_str,
  //                 tweet_user_name: tweet.user.screen_name,
  //                 tweet_user_full_name: tweet.user.name,
  //                 tweet_user_description: tweet.description,
  //                 tweet_user_location: tweet.user.location,
  //                 profile_image_url: tweet.user.profile_image_url,
  //                 profile_image_url_https: tweet.user.profile_image_url_https,
  //                 in_reply_to_status_id: tweet.in_reply_to_status_id,
  //                 in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
  //                 in_reply_to_user_id: tweet.in_reply_to_user_id,
  //                 in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
  //                 in_reply_to_screen_name: tweet.in_reply_to_screen_name,
  //                 retweeted: tweet.retweeted ? "Y" : "N",
  //                 reply_count: tweet.reply_count,
  //                 retweet_count: tweet.retweet_count,
  //                 tweet_timestamp: tweet.timestamp_ms,
  //                 main_tweet_id_str: tweet.main_tweet_id_str,
  //                 main_tweet_id: tweet.main_tweet_id,
  //               },
  //             ]);
  //       }
  //     });
  //     this.$forceUpdate();
  //     console.log("this.tweets_list :>> ", this.tweets_list);
  //   },
  // },

  created() {
    this.socket = io.connect(BASEURL, {
      query: `param=${window.localStorage.getItem("USER_ID")}`,
    });
    console.log("this.socket :>> ", this.socket);
  },
  mounted() {
    this.getTweets();
    // this.socket.emit("listen-tweets", {
    //   user_id: window.localStorage.getItem("USER_ID"),
    // });
    this.socket.on("sendTweet", (tweet) => {
      console.log("inside send tweet :>> ");
      console.log("tweet :>> ", tweet);
      this.tweets_list.splice(0, 0, {
        tweet_id: tweet.id,
        tweet_id_str: tweet.id_str,
        tweet_text: tweet.text,
        tweet_user_id: tweet.user.id,
        tweet_user_id_str: tweet.user.id_str,
        tweet_user_name: tweet.user.screen_name,
        tweet_user_full_name: tweet.user.name,
        tweet_user_description: tweet.description,
        tweet_user_location: tweet.user.location,
        profile_image_url: tweet.user.profile_image_url,
        profile_image_url_https: tweet.user.profile_image_url_https,
        in_reply_to_status_id: tweet.in_reply_to_status_id,
        in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
        in_reply_to_user_id: tweet.in_reply_to_user_id,
        in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
        in_reply_to_screen_name: tweet.in_reply_to_screen_name,
        retweeted: tweet.retweeted ? "Y" : "N",
        reply_count: tweet.reply_count,
        retweet_count: tweet.retweet_count,
        tweet_timestamp: tweet.timestamp_ms,
      });
      this.$forceUpdate();
      console.log("this.tweets_list :>> ", this.tweets_list);
    });

    this.socket.on("sendTweetReply", (tweet) => {
      this.tweets_list.map((x) => {
        if (x.tweet_id_str == tweet.main_tweet_id_str) {
          x.replies && x.replies.length > 0
            ? x.replies.push({
                tweet_id: tweet.id,
                tweet_id_str: tweet.id_str,
                tweet_text: tweet.text,
                tweet_user_id: tweet.user.id,
                tweet_user_id_str: tweet.user.id_str,
                tweet_user_name: tweet.user.screen_name,
                tweet_user_full_name: tweet.user.name,
                tweet_user_description: tweet.description,
                tweet_user_location: tweet.user.location,
                profile_image_url: tweet.user.profile_image_url,
                profile_image_url_https: tweet.user.profile_image_url_https,
                in_reply_to_status_id: tweet.in_reply_to_status_id,
                in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
                in_reply_to_user_id: tweet.in_reply_to_user_id,
                in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
                in_reply_to_screen_name: tweet.in_reply_to_screen_name,
                retweeted: tweet.retweeted ? "Y" : "N",
                reply_count: tweet.reply_count,
                retweet_count: tweet.retweet_count,
                tweet_timestamp: tweet.timestamp_ms,
                main_tweet_id_str: tweet.main_tweet_id_str,
                main_tweet_id: tweet.main_tweet_id,
              })
            : (x["replies"] = [
                {
                  tweet_id: tweet.id,
                  tweet_id_str: tweet.id_str,
                  tweet_text: tweet.text,
                  tweet_user_id: tweet.user.id,
                  tweet_user_id_str: tweet.user.id_str,
                  tweet_user_name: tweet.user.screen_name,
                  tweet_user_full_name: tweet.user.name,
                  tweet_user_description: tweet.description,
                  tweet_user_location: tweet.user.location,
                  profile_image_url: tweet.user.profile_image_url,
                  profile_image_url_https: tweet.user.profile_image_url_https,
                  in_reply_to_status_id: tweet.in_reply_to_status_id,
                  in_reply_to_status_id_str: tweet.in_reply_to_status_id_str,
                  in_reply_to_user_id: tweet.in_reply_to_user_id,
                  in_reply_to_user_id_str: tweet.in_reply_to_user_id_str,
                  in_reply_to_screen_name: tweet.in_reply_to_screen_name,
                  retweeted: tweet.retweeted ? "Y" : "N",
                  reply_count: tweet.reply_count,
                  retweet_count: tweet.retweet_count,
                  tweet_timestamp: tweet.timestamp_ms,
                  main_tweet_id_str: tweet.main_tweet_id_str,
                  main_tweet_id: tweet.main_tweet_id,
                },
              ]);
        }
      });
      this.$forceUpdate();
      console.log("this.tweets_list :>> ", this.tweets_list);
    });
  },

  methods: {
    logout() {
      this.socket.disconnect();
      window.localStorage.removeItem("AUTH_KEY");
      window.localStorage.removeItem("USER_DATA");
      this.$router.push("/");
    },
    tweet_date_time(date) {
      return moment(date).format("HH:mm | MMM DD");
    },
    async replyTweet() {
      if (this.tweet_reply_text && String(this.tweet_reply_text).length > 0) {
        if (
          this.selected_tweet.replies &&
          this.selected_tweet.replies.length > 0
        ) {
          this.socket.emit("replyTweet", {
            tweet: this.selected_tweet.replies[
              this.selected_tweet.replies.length - 1
            ],
            tweet_reply_text: this.tweet_reply_text,
            user_id: window.localStorage.getItem("USER_ID"),
            flag: "subTweet",
          });
        } else {
          this.socket.emit("replyTweet", {
            tweet: this.selected_tweet,
            tweet_reply_text: this.tweet_reply_text,
            user_id: window.localStorage.getItem("USER_ID"),
            flag: "mainTweet",
          });
        }
        this.tweet_reply_text = null;
      }
    },
    async getTweets() {
      try {
        let response = await UserService.GetTweets();
        const { data } = response;
        if (data && data.status) {
          this.tweets_list = data.Records;
          // console.log("this.tweets_list :>> ", this.tweets_list);
        } else {
          console.log("error while getting tweets ");
        }
      } catch (error) {
        console.log("error while getting tweets ", error);
      }
    },
  },
  beforeDestroy() {
    console.log("beforeDestroy");
    this.socket.disconnect();
  },
};
</script>

<style>
.container {
  max-width: 1400px !important;
}

.profile-details {
  float: left;
  width: 200px;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  margin: -30px -15px 15px 0;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

/* div.rounded-corner {
                                              border-radius: 10px;
                                              border: 1px solid #000000;
                                              padding: 20px;
                                              width: 400px;
                                              height: 100px;
                                            }
                                            
                                            div.overflow-x {
                                              white-space: nowrap;
                                              overflow: hidden;
                                              text-overflow: ellipsis;
                                            }
                                            
                                           
                                            
                                            div.overflow-y {
                                              overflow-y: scroll;
                                            } */

.text-bold {
  font-weight: bold;
}

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 0;
}

.heading_search {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 70%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

div.chat_list:hover {
  cursor: hand;
  cursor: pointer;
  opacity: 0.9;
}

.center {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.profile-img {
  display: inline-block;
  width: 25%;
  margin-left: 100px;
}

.logout-button {
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  height: 25px;

  width: 100px;
  -webkit-appearance: none;
}
</style>