<template>
  <div>
    <div v-if="token_found">
      {{ "Loading..." }}
    </div>
    <div v-else>{{ "Unauthorized" }}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      token_found: true,
    };
  },
  mounted() {
    const { token , user_id} = this.$route.query;
    if (token) {
      window.localStorage.setItem("AUTH_KEY", token);
      window.localStorage.setItem("USER_ID",user_id)
      this.$router.push("/home");
    } else {
      this.token_found = false;
      this.$router.push("/login");
    }
  },
};
</script>