<template>
  <div>
    <div id="login">
      <h1><strong>Welcome.</strong> Please login.</h1>

      <form>
        <fieldset>
          <!-- <p>
            <input type="text" v-model="email" placeholder="Email" />
          </p> -->
          <!-- JS because of IE support; better: placeholder="Username" -->

          <!-- <p>
            <input type="password" v-model="password" placeholder="Password" />
          </p> -->
          <!-- JS because of IE support; better: placeholder="Password" -->

          <!-- <p><a href="#">Forgot Password?</a></p> -->

          <p>
            <button @click.prevent.stop="gotosite(`${BASEURL}/twitter/login`)">
              Login with Twitter
            </button>
          </p>
          <!-- <p>
            <router-link to="/register"
              >Dont have an account? Register Now</router-link
            >
          </p> -->
        </fieldset>
      </form>
    </div>
    <!-- end login -->
  </div>
</template>

<script>
import { BASEURL } from "@/config";
export default {
  data() {
    return {
      BASEURL,
      email: null,
      password: null,
    };
  },
  methods: {
    gotosite(url) {
      window.location.href = url;
    },
  },
};
</script>

<style>
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* ---------- GENERAL ---------- */

body {
  background: #f4f4f4;
  color: #5a5656;
  font: 100%/1.5em "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
}

h1,
p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 300px;
}

form fieldset input[type="text"],
input[type="password"] {
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 280px;
  -webkit-appearance: none;
}

form fieldset button {
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  text-transform: uppercase;
  width: 300px;
  -webkit-appearance: none;
}

form fieldset a {
  color: #5a5656;
  font-size: 10px;
}

form fieldset a:hover {
  text-decoration: underline;
}

.btn-round {
  background: #5a5656;
  border-radius: 50%;
  color: #f4f4f4;
  display: block;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  margin: 30px 125px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}
</style>